.home-form-container {
  .form-control,
  .form-select {
    border: none;
    border-bottom: 2px solid #f0f0f0;
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
  }

  .form-control:focus,
  .form-select:focus {
    color: #212529;
    background-color: #fff;
    border-color: #999999;
    outline: 0;
    box-shadow: none;
  }

  input {
    height: 55px;
  }

  .wrapper-home-form-dropdown {
    .home-form-dropdown {
      .home-form-option {
        color: var(--udaan-blue);
      }
    }
  }

  select option:hover {
    color: red !important;
  }
}
