@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
// ! For Logo of Udaan Educare
// .logo-container {
//   .logo-img {
//     max-width: 60px;
//   }
// }

//* Udaan Educare Text-logo
.udaan-full {
  .udaan-text,
  .educare-text {
    font-size: 1.6rem;
    font-weight: 450;
    background-image: linear-gradient(60deg, #e21143, #ffb03a);
    background-clip: text;
    color: transparent;
  }
}

// * Navbar horizontal
.nav-link {
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  font-weight: 500;
  color: var(--udaan-orange) !important;
}

.nav-link:hover {
  font-weight: 500;
  color: var(--udaan-orange) !important;
}

.dropdown-item:hover {
  font-weight: 500;
  color: var(--udaan-orange) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--udaan-orange) !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}
