@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
// ! For Logo of Udaan Educare
// .logo-container {
//   .logo-img {
//     max-width: 60px;
//   }
// }

//* Udaan Educare Text-logo
.udaan-text,
.educare-text {
  color: var(--udaan-blue);
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.udaan-full:hover {
  .udaan-text,
  .educare-text {
    background-image: linear-gradient(60deg, #e21143, #ffb03a);
    background-clip: text;
    color: transparent;
  }
}

// * Navbar horizontal
.nav-link:hover {
  color: var(--udaan-orange) !important;
}

.dropdown-item:hover {
  color: var(--udaan-orange) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: var(--udaan-blue) !important;
}
